# Homework 6

In this homework I will explore a subset of the Ames Housing Dataset which is available on Kaggle. In order to reduce the length of parameter tuning and data cleaning I'll use a smaller subset of predictors. I'm accessing this data through the Kaggle API to save space on my computer. I'll implement an Elastic Net, Linear Regression, KNN Regression, Random Forest, and Gradient-Boosting Machine. Most of the code below is data acquisition and cleaning, I'll add comments where necessary but this can largely be skipped.



The Ames Housing Dataset is a famous dataset in machine learning with over 80 columns which characterize houses. The size of the lot, number of bathrooms, and house's sale price are some of the variables included. The training and testing data were accessed from [this](https://www.kaggle.com/c/house-prices-advanced-regression-techniques) Kaggle competition. The Kaggle page has a detailed outline of the data, but the only variables I'll use are the following:


SalePrice - the property's sale price in dollars. This is the target variable that I'm trying to predict.

LotArea: Lot size in square feet

BldgType: Type of dwelling

HouseStyle: Style of dwelling

YearBuilt: Original construction date

Heating: Type of heating

CentralAir: Central air conditioning

FullBath: Full bathrooms above grade

HalfBath: Half baths above grade

Fireplaces: Number of fireplaces

GarageArea: Size of garage in square feet

PoolArea: Pool area in square feet

YrSold: Year Sold

In [ ]:
! pip install -q kaggle

In [ ]:
from google.colab import files
files.upload()
# import kaggle API token w/ upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"calvinsmith625","key":"c40d4b53983a1207856bd7b6391516f2"}'}

In [ ]:
# create local directory called kaggle
! mkdir ~/.kaggle
# add kaggle.json token to that directory
! cp kaggle.json ~/.kaggle/

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
# change permissions of folder
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# check my access to the kaggle API
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              221KB  2021-03-28 09:42:48           1148
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-02-17 16:10:44            866
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   1GB  2021-02-18 10:08:27            743
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19            324
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-03-16 22:31:35            133
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39             31
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00            259
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52             86
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04             50
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23            158
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54             63
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51             41
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            113
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54             26
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40             24
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26             23
shivamb/netflix-shows                                       Netflix Movies and TV Shows                         1MB  2021-01-18 16:20:26         122499
jsphyg/weather-dataset-rattle-package                       Rain in Australia                                   4MB  2020-12-11 10:26:12          41655
arashnic/hr-analytics-job-change-of-data-scientists         HR Analytics: Job Change of Data Scientists       295KB  2020-12-07 00:25:10          17251
michau96/restaurant-business-rankings-2020                  Restaurant Business Rankings 2020                  16KB  2021-01-30 14:20:45          10811

In [ ]:
# load desired dataset
! kaggle competitions download -c house-prices-advanced-regression-techniques
# this will make the data available in the files panel, in other cases it may need to be unzipped

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
data_description.txt: Skipping, found more recently modified local copy (use --force to force download)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
train.csv: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
files.upload()
test_answers = pd.read_csv('solution.csv')
# must append the testing data's true value from another source and combine to the full dataset

Saving solution.csv to solution (1).csv

In [ ]:
display(train.shape, test.shape)

(1460, 81)

(1459, 80)

In [ ]:
test = test.merge(test_answers,
           how='left',
           on='Id')

In [ ]:
data = pd.concat([train, test], axis=0)

I'll only use the columns below for simplicity sake. There were over 80 variables in the dataset. I've broken it down to the few below. The categorical variables require one-hot encoding and I'll perform that below. Pandas' get_dummies() function will create a dummy variable for each variable less one in each categorical column. The drop_first argument ensures drops one of the cateogires. Therefore, the CentralAir column will be a binary variable where 1 = Yes (Y) there is Central Air, or 0 = No Central Air. The other categorical columns will get a dummy column for N-1 categories.

In [ ]:
data = data[['Id', 'LotArea', 'BldgType', 'HouseStyle', 'YearBuilt', 'Heating', 'CentralAir', 'FullBath',
               'HalfBath', 'Fireplaces', 'GarageArea', 'PoolArea', 'YrSold', 'SalePrice']]

In [ ]:
cat_cols = ['BldgType', 'HouseStyle', 'Heating', 'CentralAir']
dummies = [pd.get_dummies(data[x], drop_first=True) for x in cat_cols]

In [ ]:
dummies = pd.concat(dummies, axis=1)

In [ ]:
data.drop(cat_cols, axis=1, inplace=True)
data = pd.concat([data, dummies], axis=1)

In [ ]:
# must omit a column with a random NaN and from the true values
omit_col = data.index[data.isna().any(axis=1)]
data = data.drop(omit_col, axis=0)

In [ ]:
data.reset_index(inplace=True, drop=True)
data

        Id  LotArea  YearBuilt  FullBath  HalfBath  ...  GasW  Grav  OthW  Wall  Y
0        1     8450       2003         2         1  ...     0     0     0     0  1
1        2     9600       1976         2         0  ...     0     0     0     0  1
2        3    11250       2001         2         1  ...     0     0     0     0  1
3        4     9550       1915         1         0  ...     0     0     0     0  1
4        5    14260       2000         2         1  ...     0     0     0     0  1
...    ...      ...        ...       ...       ...  ...   ...   ...   ...   ... ..
2912  2915     1936       1970         1         1  ...     0     0     0     0  1
2913  2916     1894       1970         1         1  ...     0     0     0     0  1
2914  2917    20000       1960         1         0  ...     0     0     0     0  1
2915  2918    10441       1992         1         0  ...     0     0     0     0  1
2916  2919     9627       1993         2         1  ...     0     0     0     0  1

[2917 rows x 27 columns]

In [ ]:
y = data['SalePrice']
X = data.drop(['SalePrice', 'Id'], axis=1)

from sklearn.model_selection import train_test_split

def trainSets(x_data, y_data, test_size):
    x_train, x_test, y_train, y_test = train_test_split(
        x_data, y_data,
        test_size=test_size, train_size=1-test_size,
        random_state=611, shuffle=True)
    return x_train, x_test, y_train, y_test

split_dat = trainSets(X, y, .2)
x_train = split_dat[0]
x_test = split_dat[1]
y_train = split_dat[2]
y_test = split_dat[3]

In [ ]:
display(x_train, x_test)

      LotArea  YearBuilt  FullBath  HalfBath  ...  Grav  OthW  Wall  Y
1564    20062       1977         1         1  ...     0     0     0  1
1909    13607       1986         2         1  ...     0     0     0  1
827      8529       2001         2         0  ...     0     0     0  1
385      3182       2004         2         0  ...     0     0     0  1
1470     1680       1971         1         1  ...     0     0     0  1
...       ...        ...       ...       ...  ...   ...   ...   ... ..
1792     8010       1958         1         0  ...     0     0     0  1
297      7399       1997         2         1  ...     0     0     0  1
1266    13214       2008         2         0  ...     0     0     0  1
698      8450       1965         1         0  ...     0     0     0  1
2205     9670       1935         1         1  ...     0     0     0  1

[2333 rows x 25 columns]

      LotArea  YearBuilt  FullBath  HalfBath  ...  Grav  OthW  Wall  Y
1958    10295       1969         1         0  ...     0     0     0  1
2880     8170       1929         2         0  ...     0     0     0  1
74       5790       1915         2         0  ...     0     0     0  0
1503     8000       2002         2         0  ...     0     0     0  1
2619     9783       1996         2         1  ...     0     0     0  1
...       ...        ...       ...       ...  ...   ...   ...   ... ..
2848    21533       1996         2         1  ...     0     0     0  1
1013     7200       1910         1         0  ...     0     0     0  0
1456     9042       1941         2         0  ...     0     0     0  1
2861    11060       2003         2         1  ...     0     0     0  1
1912    10200       1925         1         0  ...     0     0     0  0

[584 rows x 25 columns]

In [ ]:
# this function will perform a monte carlo validation to test the true accuracy of the optimized model
def monte_carlo_valid(model, dat, response, pct_data_split=0.8):
    # randomly split data
    inds = np.random.rand(len(X)) < pct_data_split
    x_train = dat[inds]
    x_test = dat[~inds]
    y_train = response[inds]
    y_test = response[~inds]

    ypred = model.predict(x_test)
    
    df = {'Explained_Variance': [np.round(explained_variance_score(y_test, ypred),5)],
          'Max_Error': [np.round(max_error(y_test, ypred),5)],
          'MSE': [np.round(mean_squared_error(y_test, ypred),5)],
          'MAE': [np.round(mean_absolute_error(y_test, ypred),5)]}
    df = pd.DataFrame(data=df)
    return df

# Elastic Net

The first model I'll build is a 5-Fold Cross-Validated Elastic Net Regression. You'll see the [Explained Variance](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.explained_variance_score.html#sklearn.metrics.explained_variance_score), [Max Error](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.max_error.html#sklearn.metrics.max_error), [Mean-Absolute-Error](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_absolute_error.html#sklearn.metrics.mean_absolute_error), and [Mean-Squared-Error](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn.metrics.mean_squared_error) printed as the results for each model.

In [ ]:
from sklearn.metrics import explained_variance_score, mean_squared_error, max_error, mean_absolute_error
def eval_metrics(y_true, y_pred):
  print('Explained Variance: ', np.round(explained_variance_score(y_true, y_pred),2))
  print('Max Error: ', np.round(max_error(y_true, y_pred),2))
  print('MSE: ', np.round(mean_squared_error(y_true, y_pred),2))
  print('MAE: ', np.round(mean_absolute_error(y_true, y_pred),2))

In [ ]:
from sklearn.linear_model import ElasticNetCV
eNet = ElasticNetCV(cv=5, random_state=0)
eNet.fit(x_train, y_train)
eNet_preds = eNet.predict(x_test)
eval_metrics(y_test, eNet_preds)

Explained Variance:  0.2
Max Error:  532117.39
MSE:  5037233739.27
MAE:  51517.7

The Elastic Net does not perform well by any metric on the testing data. We can validate these results by running the Monte-Carlo validation function built above. I'll run the simulation 50 times with 20% of the data reserved for testing each time. The function simply refits the model to a new training sample and tests on a new testing split.

In [ ]:
# run the monte carlo function 50 times
results = [monte_carlo_valid(eNet, X, y) for p in range(0,50)]
# concat all rows into one df
results = pd.concat(results, axis=0)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
results.describe()

       Explained_Variance  Max_Error           MSE      MAE
count               50.00      50.00         50.00    50.00
mean                 0.20  437087.39 5159789100.13 51400.32
std                  0.02   83187.18  591356393.98  1963.03
min                  0.17  269009.62 4126127874.38 46959.44
25%                  0.19  368918.89 4702250273.50 49681.18
50%                  0.20  414043.84 5177912530.75 51716.95
75%                  0.22  532117.39 5579762288.69 52528.77
max                  0.25  536404.39 6810428887.20 57828.10

The Elastic Net's poor results were not fluke. The error ranges were consistent with what we saw above. The model was only able to explain ~20% of the variance in SalePrice and the average prediction was off by over $50,000. Let's see how that compares to other models.

In [ ]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(x_train, y_train)
print('R^2: ', reg.score(x_train, y_train))
lin_mod_preds = reg.predict(x_test)
eval_metrics(y_test, lin_mod_preds)

R^2:  0.6500159994811975
Explained Variance:  0.63
Max Error:  409893.2
MSE:  2323348538.56
MAE:  33742.58

# OLS Regression

A simple OLS Regression appears to outperform the Elastic Net. I've displayed the R-Squared for context and to display the difference between it and the Explained Variance, which are slightly different calculations.

In [ ]:
# run the monte carlo function 50 times
results = [monte_carlo_valid(reg, X, y) for p in range(0,50)]
# concat all rows into one df
results = pd.concat(results, axis=0)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
results.describe()

       Explained_Variance  Max_Error           MSE      MAE
count               50.00      50.00         50.00    50.00
mean                 0.65  322992.09 2259569678.05 33120.51
std                  0.02   59023.80  321131874.50  1414.66
min                  0.59  174095.77 1660454175.41 30567.45
25%                  0.63  296657.79 2041824091.39 32117.63
50%                  0.65  308809.08 2193046462.68 32810.25
75%                  0.66  379200.38 2427688916.14 34002.43
max                  0.70  409893.20 3259978353.33 37543.74

The simulation proves that the OLS is more effective than the simple implementation of the Elastic Net. However, there's still plenty of room to improve on for more refined models. Next I'll show the results of a K-Nearest Neighbor Regression.

# K-Nearest Neighbors

In [ ]:
def bestParams(model):
    best_params = model.best_params_
    return best_params

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV
knn = KNeighborsRegressor()
knn.fit(x_train, y_train)

parameters = {'n_neighbors': [3,5,7,10,15,20],
              'weights': ['uniform', 'distance']}

knn = GridSearchCV(knn, parameters, cv=5, scoring='neg_mean_squared_error', refit=True)
knn.fit(x_train, y_train)
knn_preds = knn.predict(x_test)
eval_metrics(y_test, knn_preds)
print('Optimal Parameters: ', bestParams(knn))

Explained Variance:  0.48
Max Error:  567706.76
MSE:  3264175811.66
MAE:  37958.34
Optimal Parameters:  {'n_neighbors': 10, 'weights': 'distance'}

Through a Cross-Validated Grid Search I've tuned the number of neighbors and weights parameters in order to optimize the Mean Squared Error. 10 neighbors is the best number from the options provided, and a non-uniform weighting of those neighbors improves predictive accuracy.

In [ ]:
# run the monte carlo function 50 times
results = [monte_carlo_valid(knn, X, y) for p in range(0,50)]
# concat all rows into one df
results = pd.concat(results, axis=0)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
results.describe()

       Explained_Variance  Max_Error           MSE      MAE
count               50.00      50.00         50.00    50.00
mean                 0.89  279347.82  702993425.64  7894.19
std                  0.04  157032.02  305674249.84  1036.20
min                  0.80  127747.62  331219239.54  5810.26
25%                  0.88  183136.50  512889617.47  7108.09
50%                  0.91  226928.95  582659737.02  7790.60
75%                  0.92  228038.54  736942224.35  8573.12
max                  0.95  567706.76 1416517014.00 10791.99

Our Monte-Carlo simulation shows fantastic improves for KNN over OLS and Elastic Net. Every metric improved substantially. Now we turn our attention to the focus of this assignment, Random Forest and Boosting algorithms.

# Random Forest
I'll tune the number of estimators, max depth of a tree, and the minimium number of samples required to form a split parameters. For the sake of training time I've chosen a fairly limited range of values for each of these parameters. These are chosen via a Cross-Validated Grid Search over a list of values.

I included each of the default values in each of the ranges to display how these values are oft not optimal.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=33)
rf.fit(x_train, y_train)

parameters = {'n_estimators': [50,75,100,200],
              'max_depth': [2,5,10,15],
              'min_samples_split': [2,25,50,100]}

rf = GridSearchCV(rf, parameters, cv=5, scoring='neg_mean_squared_error', refit=True)
rf.fit(x_train, y_train)
rf_preds = rf.predict(x_test)
eval_metrics(y_test, rf_preds)
print('Optimal Parameters: ', bestParams(rf))

Explained Variance:  0.75
Max Error:  269778.24
MSE:  1555339494.02
MAE:  25541.02
Optimal Parameters:  {'max_depth': 15, 'min_samples_split': 2, 'n_estimators': 200}

In [ ]:
# run the monte carlo function 50 times
results = [monte_carlo_valid(rf, X, y) for p in range(0,50)]
# concat all rows into one df
results = pd.concat(results, axis=0)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
results.describe()

       Explained_Variance  Max_Error          MSE      MAE
count               50.00      50.00        50.00    50.00
mean                 0.92  174497.53 482034100.69 12920.24
std                  0.01   51742.74  76172999.12   612.16
min                  0.90  116503.76 350651069.07 11617.82
25%                  0.92  131088.32 428576959.90 12570.01
50%                  0.92  175367.69 474470014.75 12950.82
75%                  0.93  192201.26 532922470.69 13354.38
max                  0.95  269778.24 691481298.33 14304.89

The parameter tuning method found that building 200 estimators (2x the default value). While building more trees, it also found that building the deepest trees from the range of values given would be optimal. So, the Forest consists of 200 models with a maximum depth of 15.

Interestingly, the results are mixed in comparison to the best performing baseline model (KNN). The Random Forest's Explained Variance is marginally better, and a Max Error that is lower by almost $100,000. This could indicate that the Random Forest's predictions are not as far off as the KNN's. This idea is supported by the Random Forest's lower MSE. However, KNN provides a better MAE. MSE will punish larger error more harshly. Therefore, the KNN algorithm is more prone to predict a number very close or very far off to the actual SalePrice. The Random Forest is off by more, on average, but it is not prone to substantially inaccurate predictions.

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gb = GradientBoostingRegressor(random_state=25)
gb.fit(x_train, y_train)

parameters = {'n_estimators': [50,75,100,200],
              'learning_rate': [.01, .05, .1, .2],
              'max_depth': [3, 6, 10, 15],
              'subsample': [.25, .5, .75, 1]}

gb = GridSearchCV(gb, parameters, cv=5, scoring='neg_mean_squared_error', refit=True)
gb.fit(x_train, y_train)
gb_preds = gb.predict(x_test)
eval_metrics(y_test, gb_preds)
print('Optimal Parameters: ', bestParams(gb))

Explained Variance:  0.75
Max Error:  235602.41
MSE:  1577888155.28
MAE:  26121.41
Optimal Parameters:  {'learning_rate': 0.05, 'max_depth': 6, 'n_estimators': 100, 'subsample': 0.75}

In [ ]:
# run the monte carlo function 50 times
results = [monte_carlo_valid(gb, X, y) for p in range(0,50)]
# concat all rows into one df
results = pd.concat(results, axis=0)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
results.describe()

       Explained_Variance  Max_Error          MSE      MAE
count               50.00      50.00        50.00    50.00
mean                 0.90  178151.52 659337267.04 17655.86
std                  0.02   40531.70  76231109.08   689.68
min                  0.86   96894.71 529143541.80 15906.78
25%                  0.88  162795.32 605240958.86 17287.72
50%                  0.90  173520.65 659197683.78 17557.94
75%                  0.90  204104.67 705184481.11 18104.03
max                  0.93  235602.41 859691237.86 19371.86

# Gradient-Boosted Regressor

For my Gradient-Boosted Regressor I tuned the number of estimators, learning rate, max tree depth, and the fraction of samples to use for base learners (subsample). Learning rate and subsample must be tuned if n_estimators is tuned as they tend to interact with the number of estimators. Although n_estimators remained at the default value, the learning rate and subsample decreased through the grid search. Learning rate shrinks the contribution of an individual tree, so a lower learning rate decreases the impact of a single tree. This balances the decrease in subsample from its default value. As subsample decreases variances reduces and bias increases as subsample lowers the fraction of samples being used. The ratio between these two was more optimal than the default values provided in the baseline model.

Counter to my expectation, the Gradient-Boosted model did not outperform the 'simple' Random Forest. Its comparison to the KNN model was similar to the Random Forest's. But, the Gradient-Boosted model posted a higher MAE, MSE, and max error when compared to the Random Forest. So, it was missing by a wider margin and more often than the Random Forest.

 # Final Comparison

While the Random Forest and Gradient-Boosted Regressor outperformed the Elastic Net and Linear Regression, their results were not substantially better than an optimized K-Nearest Neighbor approach. While KNN may not be considered a true 'baseline' model, one would expect a Random Forest or GBR to be more predictive than KNN. I suspect KNN is a very good approach for this dataset as KNN functions similar to how a human prices a house. An agent walks through a house and points out the number of bathrooms and square-footage then shows a price comparison to houses with similar attributes. Because of the similarity between house pricing based on home characteristics and KNN predicting based on the best 'comparisons' nearest to a house in question the KNN algorithm is uniquely suited to fit the needs of this dataset. For instance, KNN predicts the same way a human would as a house with two bathrooms and 2,000 square feet would be expected to be priced very similarly. This is very easy to detect with a KNN approach as the prediction is based on the most similar neighbors. However, the difference between ensemble methods and KNN was not terribly significant.

In [ ]:
!apt-get install texlive texlive-xetex texlive-latex-extra pandoc
!pip install pypandoc

Reading package lists... Done
Building dependency tree
Reading state information... Done
pandoc is already the newest version (1.19.2.4~dfsg-1build4).
pandoc set to manually installed.
The following additional packages will be installed:
  fonts-droid-fallback fonts-lato fonts-lmodern fonts-noto-mono fonts-texgyre
  javascript-common libcupsfilters1 libcupsimage2 libgs9 libgs9-common
  libijs-0.35 libjbig2dec0 libjs-jquery libkpathsea6 libpotrace0 libptexenc1
  libruby2.5 libsynctex1 libtexlua52 libtexluajit2 libzzip-0-13 lmodern
  poppler-data preview-latex-style rake ruby ruby-did-you-mean ruby-minitest
  ruby-net-telnet ruby-power-assert ruby-test-unit ruby2.5
  rubygems-integration t1utils tex-common tex-gyre texlive-base
  texlive-binaries texlive-fonts-recommended texlive-latex-base
  texlive-latex-recommended texlive-pictures texlive-plain-generic tipa
Suggested packages:
  fonts-noto apache2 | lighttpd | httpd poppler-utils ghostscript
  fonts-japanese-mincho | fonts-ipafont-mincho fonts-japanese-gothic
  | fonts-ipafont-gothic fonts-arphic-ukai fonts-arphic-uming fonts-nanum ri
  ruby-dev bundler debhelper gv | postscript-viewer perl-tk xpdf-reader
  | pdf-viewer texlive-fonts-recommended-doc texlive-latex-base-doc
  python-pygments icc-profiles libfile-which-perl
  libspreadsheet-parseexcel-perl texlive-latex-extra-doc
  texlive-latex-recommended-doc texlive-pstricks dot2tex prerex ruby-tcltk
  | libtcltk-ruby texlive-pictures-doc vprerex
The following NEW packages will be installed:
  fonts-droid-fallback fonts-lato fonts-lmodern fonts-noto-mono fonts-texgyre
  javascript-common libcupsfilters1 libcupsimage2 libgs9 libgs9-common
  libijs-0.35 libjbig2dec0 libjs-jquery libkpathsea6 libpotrace0 libptexenc1
  libruby2.5 libsynctex1 libtexlua52 libtexluajit2 libzzip-0-13 lmodern
  poppler-data preview-latex-style rake ruby ruby-did-you-mean ruby-minitest
  ruby-net-telnet ruby-power-assert ruby-test-unit ruby2.5
  rubygems-integration t1utils tex-common tex-gyre texlive texlive-base
  texlive-binaries texlive-fonts-recommended texlive-latex-base
  texlive-latex-extra texlive-latex-recommended texlive-pictures
  texlive-plain-generic texlive-xetex tipa
0 upgraded, 47 newly installed, 0 to remove and 30 not upgraded.
Need to get 146 MB of archives.
After this operation, 460 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-lato all 2.0-2 [2,698 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 tex-common all 6.09 [33.0 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-lmodern all 2.004.5-3 [4,551 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-texgyre all 20160520-1 [8,761 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 javascript-common all 11 [6,066 B]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.8 [18.6 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.14 [5,092 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.14 [2,265 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjs-jquery all 3.2.1-1 [152 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libkpathsea6 amd64 2017.20170613.44572-8ubuntu0.1 [54.9 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic/main amd64 libpotrace0 amd64 1.14-2 [17.4 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libptexenc1 amd64 2017.20170613.44572-8ubuntu0.1 [34.5 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic/main amd64 rubygems-integration all 1.11 [4,994 B]
Err:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ruby2.5 amd64 2.5.1-1ubuntu1.7
  404  Not Found [IP: 91.189.88.152 80]
Get:21 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby amd64 1:2.5.1 [5,712 B]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 rake all 12.3.1-1ubuntu0.1 [44.9 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-did-you-mean all 1.2.0-2 [9,700 B]
Get:24 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-minitest all 5.10.3-1 [38.6 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-net-telnet all 0.1.1-2 [12.6 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-power-assert all 0.3.0-1 [7,952 B]
Get:27 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-test-unit all 3.2.5-1 [61.1 kB]
Err:28 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libruby2.5 amd64 2.5.1-1ubuntu1.7
  404  Not Found [IP: 91.189.88.152 80]
Get:29 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libsynctex1 amd64 2017.20170613.44572-8ubuntu0.1 [41.4 kB]
Get:30 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libtexlua52 amd64 2017.20170613.44572-8ubuntu0.1 [91.2 kB]
Get:31 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libtexluajit2 amd64 2017.20170613.44572-8ubuntu0.1 [230 kB]
Get:32 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libzzip-0-13 amd64 0.13.62-3.1ubuntu0.18.04.1 [26.0 kB]
Get:33 http://archive.ubuntu.com/ubuntu bionic/main amd64 lmodern all 2.004.5-3 [9,631 kB]
Get:34 http://archive.ubuntu.com/ubuntu bionic/main amd64 preview-latex-style all 11.91-1ubuntu1 [185 kB]
Get:35 http://archive.ubuntu.com/ubuntu bionic/main amd64 t1utils amd64 1.41-2 [56.0 kB]
Get:36 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tex-gyre all 20160520-1 [4,998 kB]
Get:37 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 texlive-binaries amd64 2017.20170613.44572-8ubuntu0.1 [8,179 kB]
Get:38 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-base all 2017.20180305-1 [18.7 MB]
Get:39 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-fonts-recommended all 2017.20180305-1 [5,262 kB]
Get:40 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-latex-base all 2017.20180305-1 [951 kB]
Get:41 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-latex-recommended all 2017.20180305-1 [14.9 MB]
Get:42 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive all 2017.20180305-1 [14.4 kB]
Get:43 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-pictures all 2017.20180305-1 [4,026 kB]
Get:44 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-latex-extra all 2017.20180305-2 [10.6 MB]
Get:45 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-plain-generic all 2017.20180305-2 [23.6 MB]
Get:46 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tipa all 2:1.3-20 [2,978 kB]
Get:47 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-xetex all 2017.20180305-1 [10.7 MB]
Fetched 143 MB in 8s (17.2 MB/s)
E: Failed to fetch http://archive.ubuntu.com/ubuntu/pool/main/r/ruby2.5/ruby2.5_2.5.1-1ubuntu1.7_amd64.deb  404  Not Found [IP: 91.189.88.152 80]
E: Failed to fetch http://archive.ubuntu.com/ubuntu/pool/main/r/ruby2.5/libruby2.5_2.5.1-1ubuntu1.7_amd64.deb  404  Not Found [IP: 91.189.88.152 80]
E: Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?
Collecting pypandoc
  Downloading https://files.pythonhosted.org/packages/d6/b7/5050dc1769c8a93d3ec7c4bd55be161991c94b8b235f88bf7c764449e708/pypandoc-1.5.tar.gz
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pypandoc) (54.1.2)
Requirement already satisfied: pip>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from pypandoc) (19.3.1)
Requirement already satisfied: wheel>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from pypandoc) (0.36.2)
Building wheels for collected packages: pypandoc
  Building wheel for pypandoc (setup.py) ... done
  Created wheel for pypandoc: filename=pypandoc-1.5-cp37-none-any.whl size=17036 sha256=a5d035dd1c54d955781cd7d03eea6bf6544abbc346161576a5d7067b0d187763
  Stored in directory: /root/.cache/pip/wheels/bb/7d/d6/2f9af55e800d37e42e546106bcbd36a86e24e725e303d17e04
Successfully built pypandoc
Installing collected packages: pypandoc
Successfully installed pypandoc-1.5

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!jupyter nbconvert --to PDF "hw6_rf_boosting.ipynb"

[NbConvertApp] WARNING | pattern u'hw6_rf_boosting.ipynb' matched no files
This application is used to convert notebook files (*.ipynb) to various other
formats.

WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
-------

Arguments that take values are actually convenience aliases to full
Configurables, whose aliases are listed on the help line. For more information
on full configurables, see '--help-all'.

--execute
    Execute the notebook prior to export.
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
--no-input
    Exclude input cells and output prompts from converted document.
    This mode is ideal for generating code-free reports.
--stdout
    Write notebook output to stdout instead of files.
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
    relevant when converting to notebook format)
-y
    Answer yes to any questions instead of prompting.
--clear-output
    Clear output of current file and save in place,
    overwriting the existing notebook.
--debug
    set log level to logging.DEBUG (maximize logging output)
--no-prompt
    Exclude input and output prompts from converted document.
--generate-config
    generate default config file
--nbformat=<Enum> (NotebookExporter.nbformat_version)
    Default: 4
    Choices: [1, 2, 3, 4]
    The nbformat version to write. Use this to downgrade notebooks.
--output-dir=<Unicode> (FilesWriter.build_directory)
    Default: ''
    Directory to write output(s) to. Defaults to output to the directory of each
    notebook. To recover previous default behaviour (outputting to the current
    working directory) use . as the flag value.
--writer=<DottedObjectName> (NbConvertApp.writer_class)
    Default: 'FilesWriter'
    Writer class used to write the  results of the conversion
--log-level=<Enum> (Application.log_level)
    Default: 30
    Choices: (0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL')
    Set the log level by value or name.
--reveal-prefix=<Unicode> (SlidesExporter.reveal_url_prefix)
    Default: u''
    The URL prefix for reveal.js (version 3.x). This defaults to the reveal CDN,
    but can be any url pointing to a copy  of reveal.js.
    For speaker notes to work, this must be a relative path to a local  copy of
    reveal.js: e.g., "reveal.js".
    If a relative path is given, it must be a subdirectory of the current
    directory (from which the server is run).
    See the usage documentation
    (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-
    slideshow) for more details.
--to=<Unicode> (NbConvertApp.export_format)
    Default: 'html'
    The export format to be used, either one of the built-in formats
    ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf',
    'python', 'rst', 'script', 'slides'] or a dotted object name that represents
    the import path for an `Exporter` class
--template=<Unicode> (TemplateExporter.template_file)
    Default: u''
    Name of the template file to use
--output=<Unicode> (NbConvertApp.output_base)
    Default: ''
    overwrite base name use for output files. can only be used when converting
    one notebook at a time.
--post=<DottedOrNone> (NbConvertApp.postprocessor_class)
    Default: u''
    PostProcessor class used to write the results of the conversion
--config=<Unicode> (JupyterApp.config_file)
    Default: u''
    Full path of a config file.

To see all available configurables, use `--help-all`

Examples
--------

    The simplest way to use nbconvert is

    > jupyter nbconvert mynotebook.ipynb

    which will convert mynotebook.ipynb to the default format (probably HTML).

    You can specify the export format with `--to`.
    Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides'].

    > jupyter nbconvert --to latex mynotebook.ipynb

    Both HTML and LaTeX support multiple output templates. LaTeX includes
    'base', 'article' and 'report'.  HTML includes 'basic' and 'full'. You
    can specify the flavor of the format used.

    > jupyter nbconvert --to html --template basic mynotebook.ipynb

    You can also pipe the output to stdout, rather than a file

    > jupyter nbconvert mynotebook.ipynb --stdout

    PDF is generated via latex

    > jupyter nbconvert mynotebook.ipynb --to pdf

    You can get (and serve) a Reveal.js-powered slideshow

    > jupyter nbconvert myslides.ipynb --to slides --post serve

    Multiple notebooks can be given at the command line in a couple of
    different ways:

    > jupyter nbconvert notebook*.ipynb
    > jupyter nbconvert notebook1.ipynb notebook2.ipynb

    or you can specify the notebooks list in a config file, containing::

        c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

    > jupyter nbconvert --config mycfg.py